h1{
   font-family:"Lucida Console", "Courier New", monospace;
}
body{
    font-size: larger;
}
button{
    margin:2px;
    border-radius:10px;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
    height: 250px;
    background-size: cover;
}
#alpaca{
    background-image: url("animalpix/alpaca.jpg");
}
#alpacapageheader{
    text-align: center;
}
#alpacadiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#alpaca2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#cow{
    background-image: url("animalpix/cow.jpg");
}
#axolotl{
    background-image: url("animalpix/axolotl.jpg");
}
#cat{
    background-image: url("animalpix/cat.jpg");
}
#dog{
    background-image: url("animalpix/dog.jpg");
}
#chuck{
    background-image: url("animalpix/chuckecheeserat.webp");
}
#clifford{
    background-image: url("animalpix/clifford.jpg");
}