h1{
   font-family:"Lucida Console", "Courier New", monospace;
}
body{
    font-size: larger;
}
button{
    margin:2px;
    border-radius:10px;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
    height: 250px;
    background-size: cover;
}
/*This is the Alpaca section*/
#alpaca{
    background-image: url("animalpix/alpaca.jpg");
}
#alpacapageheader{
    text-align: center;
    font-size: 128px;
}
#alpacadiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#alpaca2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*This is the Axolotl section*/
#axolotl{
    background-image: url("animalpix/axolotl.jpg");
}
#axolotlhead{
    text-align: center;
    font-size: 128px;
}
#axolotl2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#axolotldiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*This is the Cow section*/
#cow{
    background-image: url("animalpix/cow.jpg");
}
#cowhead{
    text-align: center;
    font-size: 128px;
}
#cow2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#cowdiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cat{
    background-image: url("animalpix/cat.jpg");
}
#cathead{
    text-align: center;
    font-size: 128px;
}
#cat2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#catdiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dog{
    background-image: url("animalpix/dog.jpg");
}
#doghead{
    text-align: center;
    font-size: 128px;
}
#dogdiv{
    margin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#dog2pic{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#chuck{
    background-image: url("animalpix/chuckecheeserat.webp");
}
#clifford{
    background-image: url("animalpix/clifford.jpg");
}